@model Employee.Models.EmployeesEntity ;

@{
    ViewData["Title"] = "Add Employee";
}

<form asp-action="CreateEmployee" asp-controller="Employee" method="post">
    <div class="form-group">
        <label>Id</label>
        <input asp-for="Id" type="text" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Initails</label>
        <input asp-for="Initials" type="text" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label>First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" size="50" required>
    </div>
    <div class="form-group">
        <label>Surname</label>
        <input asp-for="Surname" type="text" class="form-control" size="50" required>
    </div>
    <div class="form-group">
        <label>Address 1</label>
        <input asp-for="Address1" type="text" class="form-control" size="100" required>
    </div>

    <div class="form-group">
        <label>Address 2</label>
        <input asp-for="Address2" type="text" class="form-control" size="100" required>
    </div>



    <div class="form-group">
        <label>DOB</label>
        <input asp-for="DOB" type="date" class="form-control" required>
    </div>
    <div class="form-group">
        <label >Status:</label>
        <select asp-for="Status" id="status" name="status" class="form-control" required>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>
    </div>

    <div class="card-footer">
        <center>
            <button type="submit" class="btn btn-primary">Add Details</button>
            <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">View Details</a>
        </center>
    </div>
</form>
