@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Employee" class="btn btn-sucess">Fill Employee Info Form</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Index" asp-controller="Employee" class="btn btn-sucess">View Employee Details</a>
    </div>
</div>